providers:
  Hiapi:
    api_base: "https://hiapi.online/v1"
    api_key: "sk-xxx"

  Volcengine:
    api_base: "https://ark.cn-beijing.volces.com/api/v3"
    api_key: "xxx"

  Dashscope:
    api_base: "https://dashscope.aliyuncs.com/compatible-mode/v1"
    api_key: "sk-xxx"
